*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    color:#f2f2f2;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    background:#222222;
    padding:10px 40px 10px 70px;
    border: 1px solid #000;
    border-left:none;
    border-right:none;
}

nav ul {
    display:flex;
    list-style:none;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
}

nav ul li.logo{
    flex:1;
    font-size: 30px;
    font-weight: 700;
}

nav ul div.items{
    display:inline-flex;
    padding:0 25px;
}

nav ul div.items a {
    text-decoration: none;
    font-size:18px;
    padding:0 12px;
}

nav ul form.form .search-icon{
    height: 40px;
    width:240px;
    display:flex;
    background:#f2f2f2;
    border-radius: 5px;
}

nav ul form.form .search-icon input{
    height:100%;
    width:200px;
    border:none;
    border-radius:5px 0 0 5px;
    outline: none;
    padding: 0 10px;
    color:#000;
    font-size:16px;
}

nav ul form.form .search-icon .icon{
    height:100%;
    width:40px;
    line-height: 40px;
    text-align: center;
    background:#000;
    border:1px solid;
    border-radius: 0 5px 5px 0;
    cursor:pointer;
}

nav ul form.form li.search-icon button.button {
    height:100%;
    width:150px;
    line-height: 40px;
    text-align: center;
    background:#000;
    border:1px solid;
    border-radius: 0 5px 5px 0;
    cursor:pointer;
}

nav ul form.form .search-icon .icon:hover{
    background:#e6e6e6;
}

nav ul form.form .search-icon .icon button {
    color:#222;
    font-size:18px;
}

@media screen and (max-width: 1052px){
    nav{
        padding:10px 40px 10px 0px
    }
    nav ul li.logo{
        display:none;
    }
    nav ul div.items{
        flex:4;
    }
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}


.cards{
    display:flex;
    flex-wrap: wrap;
    padding:20px;
    grid-gap:40px;
    align-items:center;
    justify-content: center;
    box-sizing:border-box;
}

.card{
    background-color:#5555;
    border-radius:20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
    width:580px;
}

div.container{
    position:relative;
    align-content: center;
}

div.container img.card--image{
    display:flex;
    text-align: center;
    width:100%;
    height:500px;
    display:block;
    border-radius: 20px 20px 0 0 ;
}

.details{
    padding:20px 10px;
    height:250px;
}

.container h3{
    font-weight: 600;
    font-size:18px;
    margin:10px 0 15px 0;
    text-align: center;
}

.container p{
    font-size:13px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
}

